global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'metrics_app'
    static_configs:
      - targets: ['metrics_app_2:5000']
        labels:
          instance: 'service-b'

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']
        labels:
          instance: 'host-node'